<div class="modal fade modal-lg" id="add_members_modal" aria-hidden="true" data-bs-backdrop="static" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div class="input-group">
                    <span class="input-group-text" id="search-addon1">Name</span>
                    <input type="text" id="memberSearchBar" class="form-control" placeholder="Search for a user..." aria-label="memberSearchBar" aria-describedby="search-addon1">
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="add_members_modal_body" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="updateCount()" data-bs-toggle="modal" data-bs-target="#create_conference_modal">Back</button>
            </div>
        </div>
    </div>
</div>