<ul class="list-group list-group-flush">
    <li class="list-group-item" onclick="addExpertise('Active Learning')">Active Learning</li>
    <li class="list-group-item" onclick="addExpertise('Adaptive Data Analysis')">Adaptive Data Analysis</li>
    <li class="list-group-item" onclick="addExpertise('Adversarial Learning')">Adversarial Learning</li>
    <li class="list-group-item" onclick="addExpertise('AutoML')">AutoML</li>
    <li class="list-group-item" onclick="addExpertise('Bandit Algorithms')">Bandit Algorithms</li>
    <li class="list-group-item" onclick="addExpertise('Boosting and Ensemble Methods')">Boosting and Ensemble Methods</li>
    <li class="list-group-item" onclick="addExpertise('Classification')">Classification</li>
    <li class="list-group-item" onclick="addExpertise('Clustering')">Clustering</li>
    <li class="list-group-item" onclick="addExpertise('Collaborative Filtering')">Collaborative Filtering</li>
    <li class="list-group-item" onclick="addExpertise('Components Analysis (e.g., CCA, ICA, LDA, PCA)')">Components Analysis (e.g., CCA, ICA, LDA, PCA)</li>
    <li class="list-group-item" onclick="addExpertise('Communication- or Memory-Bounded Learning')">Communication- or Memory-Bounded Learning</li>
    <li class="list-group-item" onclick="addExpertise('Continual Learning')">Continual Learning</li>
    <li class="list-group-item" onclick="addExpertise('Data Compression')">Data Compression</li>
    <li class="list-group-item" onclick="addExpertise('Density Estimation')">Density Estimation</li>
    <li class="list-group-item" onclick="addExpertise('Dynamical Systems')">Dynamical Systems</li>
    <li class="list-group-item" onclick="addExpertise('Few-Shot Learning')">Few-Shot Learning</li>
    <li class="list-group-item" onclick="addExpertise('Kernel Methods')">Kernel Methods</li>
    <li class="list-group-item" onclick="addExpertise('Large Margin Methods')">Large Margin Methods</li>
    <li class="list-group-item" onclick="addExpertise('Large Scale Learning')">Large Scale Learning</li>
    <li class="list-group-item" onclick="addExpertise('Meta-Learning')">Meta-Learning</li>
    <li class="list-group-item" onclick="addExpertise('Metric Learning')">Metric Learning</li>
    <li class="list-group-item" onclick="addExpertise('Missing Data')">Missing Data</li>
    <li class="list-group-item" onclick="addExpertise('Model Selection and Structure Learning')">Model Selection and Structure Learning</li>
    <li class="list-group-item" onclick="addExpertise('Multimodal Learning')">Multimodal Learning</li>
    <li class="list-group-item" onclick="addExpertise('Multitask and Transfer Learning')">Multitask and Transfer Learning</li>
    <li class="list-group-item" onclick="addExpertise('Nonlinear Dimensionality Reduction and Manifold Learning')">Nonlinear Dimensionality Reduction and Manifold Learning</li>
    <li class="list-group-item" onclick="addExpertise('Online Learning')">Online Learning</li>
    <li class="list-group-item" onclick="addExpertise('Program Induction')">Program Induction</li>
    <li class="list-group-item" onclick="addExpertise('Ranking and Preference Learning')">Ranking and Preference Learning</li>
    <li class="list-group-item" onclick="addExpertise('Regression')">Regression</li>
    <li class="list-group-item" onclick="addExpertise('Relational Learning')">Relational Learning</li>
    <li class="list-group-item" onclick="addExpertise('Representation Learning')">Representation Learning</li>
    <li class="list-group-item" onclick="addExpertise('Semi-Supervised Learning')">Semi-Supervised Learning</li>
    <li class="list-group-item" onclick="addExpertise('Similarity and Distance Learning')">Similarity and Distance Learning</li>
    <li class="list-group-item" onclick="addExpertise('Sparse Coding and Dimensionality Expansion')">Sparse Coding and Dimensionality Expansion</li>
    <li class="list-group-item" onclick="addExpertise('Sparsity and Compressed Sensing')">Sparsity and Compressed Sensing</li>
    <li class="list-group-item" onclick="addExpertise('Spectral Methods')">Spectral Methods</li>
    <li class="list-group-item" onclick="addExpertise('Stochastic Methods')">Stochastic Methods</li>
    <li class="list-group-item" onclick="addExpertise('Structured Prediction')">Structured Prediction</li>
    <li class="list-group-item" onclick="addExpertise('Uncertainty Estimation')">Uncertainty Estimation</li>
    <li class="list-group-item" onclick="addExpertise('Unsupervised Learning')">Unsupervised Learning</li>
</ul>