<ul class="list-group list-group-flush">
    <li class="list-group-item">Activity and Event Recognition</li>
    <li class="list-group-item">Audio and Speech Processing</li>
    <li class="list-group-item">"Body Pose, Face, and Gesture Analysis"</li>
    <li class="list-group-item">Computational Biology and Bioinformatics</li>
    <li class="list-group-item">Computational Photography</li>
    <li class="list-group-item">Computational Social Science</li>
    <li class="list-group-item">Computer Vision</li>
    <li class="list-group-item">Denoising</li>
    <li class="list-group-item">Dialog- or Communication-Based Learning</li>
    <li class="list-group-item">Automated Reasoning and Formal Methods</li>
    <li class="list-group-item">Game Playing</li>
    <li class="list-group-item">Hardware and Systems</li>
    <li class="list-group-item">Health</li>
    <li class="list-group-item">Image Segmentation</li>
    <li class="list-group-item">Information Retrieval</li>
    <li class="list-group-item">Matrix and Tensor Factorization</li>
    <li class="list-group-item">Motor Control</li>
    <li class="list-group-item">Music Modeling and Analysis</li>
    <li class="list-group-item">Natural Language Processing</li>
    <li class="list-group-item">Network Analysis</li>
    <li class="list-group-item">Object Detection</li>
    <li class="list-group-item">Object Recognition</li>
    <li class="list-group-item">Program Understanding and Generation</li>
    <li class="list-group-item">Quantitative Finance and Econometrics</li>
    <li class="list-group-item">Quantum Learning</li>
    <li class="list-group-item">Recommender Systems</li>
    <li class="list-group-item">Robotics</li>
    <li class="list-group-item">Signal Processing</li>
    <li class="list-group-item">Speech Recognition</li>
    <li class="list-group-item">Sustainability</li>
    <li class="list-group-item">Time Series Analysis</li>
    <li class="list-group-item">Tracking and Motion in Video</li>
    <li class="list-group-item">Video Analysis</li>
    <li class="list-group-item">Visual Question Answering</li>
    <li class="list-group-item">Visual Scene Analysis and Interpretation</li>
    <li class="list-group-item">Web Applications and Internet Data</li>
</ul>