<ul class="list-group list-group-flush">
    <li class="list-group-item" onclick="addExpertise('Benchmarks')">Benchmarks</li>
    <li class="list-group-item" onclick="addExpertise('Data Sets or Data Repositories')">Data Sets or Data Repositories</li>
    <li class="list-group-item" onclick="addExpertise('Software Toolkits')">Software Toolkits</li>
    <li class="list-group-item" onclick="addExpertise('Virtual Environments')">Virtual Environments</li>
</ul>