<ul class="list-group list-group-flush">
    <li class="list-group-item">Adversarial Networks</li>
    <li class="list-group-item">Analysis and Understanding ofDeep Networks</li>
    <li class="list-group-item">Attention Models</li>
    <li class="list-group-item">Biologically Plausible Deep Networks</li>
    <li class="list-group-item">CNN Architectures</li>
    <li class="list-group-item">Deep Autoencoders</li>
    <li class="list-group-item">Efficient Inference Methods</li>
    <li class="list-group-item">Efficient Training Methods</li>
    <li class="list-group-item">Embedding Approaches</li>
    <li class="list-group-item">Generative Models</li>
    <li class="list-group-item">Interaction-Based Deep Networks</li>
    <li class="list-group-item">Memory-Augmented Neural Networks</li>
    <li class="list-group-item">Optimization for Deep Networks</li>
    <li class="list-group-item">Predictive Models</li>
    <li class="list-group-item">Recurrent Networks</li>
    <li class="list-group-item">Supervised Deep Networks</li>
    <li class="list-group-item">Visualization or Exposition Techniques for Deep Networks</li>
</ul>