<ul class="list-group list-group-flush">
    <li class="list-group-item">Auditory Perception</li>
    <li class="list-group-item">Brain Imaging</li>
    <li class="list-group-item">Brain Mapping</li>
    <li class="list-group-item">Brain Segmentation</li>
    <li class="list-group-item">Brain--Computer Interfaces and Neural Prostheses</li>
    <li class="list-group-item">Cognitive Science</li>
    <li class="list-group-item">Connectomics</li>
    <li class="list-group-item">Human or Animal Learning</li>
    <li class="list-group-item">Language for Cognitive Science</li>
    <li class="list-group-item">Memory</li>
    <li class="list-group-item">Neural Coding</li>
    <li class="list-group-item">Neuropsychology</li>
    <li class="list-group-item">Neuroscience</li>
    <li class="list-group-item">Perception</li>
    <li class="list-group-item">Plasticity and Adaptation</li>
    <li class="list-group-item">Problem Solving</li>
    <li class="list-group-item">Reasoning</li>
    <li class="list-group-item">Spike Train Generation</li>
    <li class="list-group-item">Synaptic Modulation</li>
    <li class="list-group-item">Visual Perception</li>
</ul>