<ul class="list-group list-group-flush">
    <li class="list-group-item">Discrete Optimization</li>
    <li class="list-group-item">Convex Optimization</li>
    <li class="list-group-item">Evolutionary Computation</li>
    <li class="list-group-item">Non-Convex Optimization</li>
    <li class="list-group-item">Submodular Optimization</li>
    <li class="list-group-item">Stochastic Optimization</li>
</ul>