<ul class="list-group list-group-flush">
    <li class="list-group-item">Bayesian Nonparametrics</li>
    <li class="list-group-item">Bayesian Theory</li>
    <li class="list-group-item">Belief Propagation</li>
    <li class="list-group-item">Causal Inference</li>
    <li class="list-group-item">Distributed Inference</li>
    <li class="list-group-item">Gaussian Processes</li>
    <li class="list-group-item">Graphical Models</li>
    <li class="list-group-item">Hierarchical Models</li>
    <li class="list-group-item">Latent Variable Models</li>
    <li class="list-group-item">MCMC</li>
    <li class="list-group-item">Probabilistic Programming</li>
    <li class="list-group-item">Topic Models</li>
    <li class="list-group-item">Variational Inference</li>
</ul>