<ul class="list-group list-group-flush">
    <li class="list-group-item">Decision and Control</li>
    <li class="list-group-item">Exploration</li>
    <li class="list-group-item">Hierarchical RL</li>
    <li class="list-group-item">Markov Decision Processes</li>
    <li class="list-group-item">Model-Based RL</li>
    <li class="list-group-item">Multi-Agent RL</li>
    <li class="list-group-item">Navigation</li>
    <li class="list-group-item">Planning</li>
    <li class="list-group-item">Reinforcement Learning</li>
</ul>