<ul class="list-group list-group-flush">
    <li class="list-group-item">AI Safety</li>
    <li class="list-group-item">"Fairness, Accountability, and Transparency"</li>
    <li class="list-group-item">"Privacy, Anonymity, and Security"</li>
</ul>