<ul class="list-group list-group-flush">
    <li class="list-group-item">Models of Learning and Generalization</li>
    <li class="list-group-item">Computational Learning Theory</li>
    <li class="list-group-item">Control Theory</li>
    <li class="list-group-item">Data-driven Algorithm Design</li>
    <li class="list-group-item">Frequentist Statistics</li>
    <li class="list-group-item">Game Theory and Computational Economics</li>
    <li class="list-group-item">Hardness of Learning and Approximations</li>
    <li class="list-group-item">High-Dimensional Inference</li>
    <li class="list-group-item">Information Theory</li>
    <li class="list-group-item">Large Deviations and Asymptotic Analysis</li>
    <li class="list-group-item">Statistical Learning Theory</li>
    <li class="list-group-item">Regularization</li>
    <li class="list-group-item">Spaces of Functions and Kernels</li>
    <li class="list-group-item">Statistical Physics of Learning</li>
</ul>